#textarea{
    background-color: lightcyan;
     border: 2px black solid;
     border-radius: 1%;
     margin-top:9%;
     margin-left: 3%;
     
     }
.com{
 margin-left: 21%; 
}
#submit{
   background-color: green;
   border-radius:1% black;
   margin-left: 8%;
}
#cancel{
    background-color: red;
    border-radius:1% black;
     
}
#session{
    font-size: 19px;
    margin-top: 11%;
    margin-right: 2px;
    color: blue;
}
#button{
    color: red;
    border-radius: 5px;
    
    margin-left: 76%;
    
}  
